@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #242424;
    --text-color: #fff;
    --secound-color: #;
    --big-font: 3rem;
    --h2-font: 2.5rem;
    --p-font-sub: 1.3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 30px 18%;
    transition: .3s;
    background: #FFFFFF24 0% 0% no-repeat padding-box;
}



/******Nav*******/
.navlist {
    display: flex;
}

.navlist li {
    position: relative;
}

.navlist a {
    font-size: var(--p-font);
    color: white;
    font-weight: 500;
    padding: 10px 27px;
}

/***********Class global**************/

.container {
    padding: 1rem 5rem;
}

.container-medium {
    padding: 3rem 5rem;
}

.flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.gap-50 {
    gap: 50px;
}

.text-verde {
    color: #00953B;
}

.text-azul {
    color: #349EEB;
}


.text-laranja {
    color: #FFA31D;
}

/**************Home*************/

.home {
    min-height: 100vh;
    color: white;
    height: 100%;
    width: 100%;
    background: url("./img/backgtound.png");
    z-index: 2;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.home-text {
    display: flex;
    min-height: 100vh;
    align-items: center
}

.home-text h1 {
    font-size: var(--big-font);
    width: 55%;
    margin-bottom: 20px;
}

.home-text p {
    font-size: var(--p-font-sub);
    width: 60%;
}

.home-img {
    display: flex;
    align-items: center
}

.circulo img {
    width: 200px;
    height: 200px;
    background-color: #FFF;
    border-radius: 50%;
    margin: 10px;
}

/************************/

.sobre h1 {
    font-size: var(--h2-font);
    margin-top: 30px;
    margin-bottom: 20px;
}

.sobre p {
    font-size: var(--p-font-sub);
    margin-bottom: 30px;
    width: 60%;
}

.sub-box {
    text-align: center;
    margin-top: 40px;
}

.sub-img img {
    width: 150px;
    height: 150px;
    background-color: #FFF;
    border-radius: 50%;
    margin-bottom: 20px;
}

.sub-box h2 {
    font-size: var(--p-font-sub);
    margin-bottom: 20px;
}

.sub-box p {
    font-size: 16px;
    width: 100%;
    color: #b1b1b1;
}

/*************Trabalhos***************/

.trabalhos-text h1 {
    font-size: var(--h2-font);
    margin-top: 30px;
    margin-bottom: 20px;
}

.trabalhos-text p {
    font-size: var(--p-font-sub);
    margin-bottom: 30px;
    width: 60%;
}

/**********************************/

.contatos {
    margin: 0rem 0rem 3rem;
}

.contatos-head h1 {
    font-size: var(--h2-font);
    margin-top: 30px;
    margin-bottom: 20px;
}

.contatos-head p {
    font-size: var(--p-font-sub);
    margin-bottom: 30px;
    width: 60%;
}

.contato h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.contato p {
    margin-top: 20px;
    margin-bottom: 10px;
}

/***************************/

.trabalhos-img img {
    width: 100%;
}

/**************Footer***************/

footer {
    min-height: 5vh;
    color: white;
    height: 100%;
    width: 100%;
    background: url("./img/footer.png");
    z-index: 2;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

footer p {
    text-align: center;
    padding: 10px;
    font-size: 14px;
}